
.maxsize {
    max-height: 50vh;
    position: relative;
    border-spacing:0px;
    /*border-collapse: collapse;*/
}


.maxsize th {
    background: #FFFFFF;
    position: sticky;
	top: 0;
}

.table-scroll{
    overflow: auto;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #fff2f2;
}

.share {
    background-color: #c1db8d;
    color: #FFFFFF;
}

.export {
    background-color: #c1db8d;
    color: #FFFFFF;
}

.tbcolor {
    background-color:  #ee9e9e;
}


.my_navbar{
    background-color: #ee9e9e;
    z-index: 10;
    padding-bottom: 0;
}

.my_sidebar-sticky{
    background-color: #fff2f2;
    margin-top: -20px;
    z-index: 20;
    padding: 0;

}

.my_button{
    background-color: #c1db8d;
    margin : 10px;
    border-radius: 5px;
    border-color: #6c757d;
    color: #6c757d;
}


.navbar-icon{
    background-color: #c1db8d;
    
}

.my_blank{
    padding: 20px;
    z-index: 0;

}

.my_sidebar_base{
    padding: 0 ;

}

.my_table{
    background-color: #ee9e9e;
    color : #ececec;
    padding : 20px;
}

.my_table th{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
}

.my_table thead th:first-child {
    /* ヘッダー行内の他のセルより手前に表示する */
    z-index: 2;
  }

.ProductTable {
    border:  10px #FFFFFF;
    border-collapse: separate;
    border-spacing: 0px 20px;
}

.ProductTable th{
    position: sticky;
    background-color: #ee9e9e;
}

.ProductTable tr{
    border:  10px #000;
}

.nav-item .active{
  background-color: white;
} 

.nav-item .nav-link{
    margin-right:10px;
    background-color: rgb(255, 209, 209);
  } 

.total-money{
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: 100;
    height: 50px;
    margin-bottom: -50px;
    margin-right: 21px;
}

.datepicker td.disabled, .datepicker td.disabled:hover {
    border-radius: 0;
    background-color: rgb(85, 85, 85);
}


.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}



/*
.form-check input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 3px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  #ee9e9e;
}
*/